<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="welcome-container">
        <div class="heading-with-icon">
            <h1>Kathcha</h1>
            <i class="fas fa-coffee"></i> 
        </div>
        <div class="index-buttons">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </div>
    </div>
</body>
</html>
